:host {
	background: #272829;
	color: #fff;
	position: fixed;
	left: -20%;
	top: 110px;
	right: auto;
	bottom: 40px;
	width: 20%;
	min-width: 250px;
	z-index: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
ul {
	font-size: 18px;
	line-height: 3;
	font-weight: 400;
	padding-top: 50px;
	list-style: none;

}
