.hamburger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 66px;
	height: 66px;
	font-size: 0;
	text-indent: -9999px;
	cursor: pointer;
	outline: none;
	background: none;
	border: 0;
}

.hamburger span {
	display: block;
	position: absolute;
	top: 22px;
	left: 18px;
	right: 18px;
	height: 4px;
	background: #272829;
}

.hamburger span::before,
.hamburger span::after {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #393C3E;
	content: "";
}

.hamburger span::before {
	top: -10px;
}

.hamburger span::after {
	bottom: -10px;
}
